$layer1: #202020;
$layer2: #272727;
$layer3: #2f2f2f;

$text1: #555;
$text2: #999;
$text3: #fff;

$brand1: #b73d3d;
$brand2: #ff5656;

$brandText1: #505050;
$brandText2: #202020;

$radius1: 3px;
$radius2: 6px;
$radius3: 12px;
$radius4: 24px;

$transition1: 100ms;
$transition2: 200ms;

$bezierBounce: cubic-bezier(.79,-0.7,.35,1.54);
