@import "Color";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    font-size: 13px;
}

button {
    font-family: "Montserrat", serif;
    font-size: 13px;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background: $layer1;
    margin-top: 70px;
}

::-webkit-scrollbar-thumb {
    background: $brand2;
    border: 5px solid $layer1;
    border-radius: 25px;
}
