html,
body {
  padding: 0;
  margin: 0;
  background: #202020;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 13px;
}

* {
  box-sizing: border-box;
}

.r_body {
  height: calc(100vh - 60px);
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.r_body > main {
  padding: 0 20px;
  width: 100%;
  max-width: 1500px;
  min-height: calc(100vh - 60px);
}
