html,
body {
  padding: 0;
  margin: 0;
  background: #202020;
  color: #fff;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 13px;
}

* {
  box-sizing: border-box;
}

.r__app_root_body {
  height: calc(100vh - 60px);
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  background: #96deff;
  border: 5px solid #202020;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #202020;
  border-radius: 25px;
  margin: 20px;
}

.r_body > main {
  padding: 0 20px;
  width: 100%;
  max-width: 1500px;
  min-height: calc(100vh - 60px);
}

.r__app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.r__app_effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.r__app_effect > div {
  width: 400px;
  height: 50px;
  background: #96deff;
  position: absolute;
  top: 0;
  left: calc(100vw - 400px);
  transform: rotate(45deg);
  filter: blur(100px);
}

.r__app_effect > div:nth-child(2) {
  left: calc((100vw - 400px) - 150px);
  background: #55ffff;
}

.r__app_root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
