$l1: #202020;
$l2: #272727;
$l3: #313131;

$b1: #448eb0;
$b2: #60cdff;

$bf1: #448eb020;
$bf2: #60cdff20;

$bt1: #303030;
$bt2: #202020;

$t1: #444;
$t2: #666;
$t3: #999;
$t4: #fff;

$tr: 100ms;

$br1: 3px;
$br2: 4px;
$br3: 6px;
$br4: 8px;

$d1: rgba(255, 255, 255, 5%);
$d2: rgba(255, 255, 255, 10%);
$d3: rgba(255, 255, 255, 20%);
